body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.people {
  display: grid;
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 200px);
  justify-content: center;
  gap: 40px 30px;
  padding-top: 30px;

  @media (min-width: 1000px){

    --columns: 4;
  
  }

}

.person {
  position: relative;

  height: 231px;
  width: 200px;

  overflow: visible;

  &__photo {
    position: relative;
    height: 200px;
  }

  &__photoimg {
  border-radius: 50%;
  width: 200px;
}

  &__details {
    height: 31px;
    width: 100%;
    text-align: center;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #2F4F4F;
  }

  &__rank {
    display: inline-block;
    width: 32px;
    height: 32px;

    font-size: 16px;
    font-weight: 700;
    line-height: 32px;                text-align: center;

    border-radius: 50%;
    background: #FFFFFF;
    color: #8B0000;

    position: absolute;
    top: 50%;
    left: 158px;
    transform: translateY(-50%);

  }

  &__extra {
    display: none;
  }

  &__sport {

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

  }

  &:hover {
    background-color: #EEEEEE;
    transform: scale(1.1, 1.24);
    // width: 220px;
    // height: 287px;
    z-index: 2;

    .person__extra {
      display: block;
    }

  }
}

